# Supermarket Sales

In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set(rc={'figure.figsize': [9, 9]}, font_scale=1.2)

In [32]:
df = pd.read_csv('supermarket_sales - Sheet1.csv')
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

Attribute information

* Invoice id: Computer generated sales slip invoice identification number

* Branch: Branch of supercenter (3 branches are available identified by A, B and C).

* City: Location of supercenters

* Customer type: Type of customers, recorded by Members for customers using member card and Normal for without member card.

* Gender: Gender type of customer

* Product line: General item categorization groups - Electronic accessories, Fashion accessories, Food and beverages, Health and beauty, Home and lifestyle, Sports and travel

* Unit price: Price of each product in $

* Quantity: Number of products purchased by customer

* Tax: 5% tax fee for customer buying

* Total: Total price including tax

* Date: Date of purchase (Record available from January 2019 to March 2019)

* Time: Purchase time (10am to 9pm)

* Payment: Payment used by customer for purchase (3 methods are available – Cash, Credit card and Ewallet)

* COGS: Cost of goods sold

* Gross margin percentage: Gross margin percentage

* Gross income: Gross income

* Rating: Customer stratification rating on their overall shopping experience (On a scale of 1 to 10)

In [22]:
df.columns

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating'],
      dtype='object')

In [23]:
df.columns = df.columns.str.lower().str.replace(' ', '_')
df.columns

Index(['invoice_id', 'branch', 'city', 'customer_type', 'gender',
       'product_line', 'unit_price', 'quantity', 'tax_5%', 'total', 'date',
       'time', 'payment', 'cogs', 'gross_margin_percentage', 'gross_income',
       'rating'],
      dtype='object')

In [18]:

for col in df.columns :
    col_n = col.replace(' ', '_')
col_n

'Rating'

In [24]:
df.drop('invoice_id', axis =1, inplace=True)

In [38]:
df.head()

,branch,city,customer_type,gender,product_line,unit_price,quantity,tax_5%,total,date,time,payment,cogs,gross_margin_percentage,gross_income,rating
0,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [25]:
df.describe()

,unit_price,quantity,tax_5%,total,cogs,gross_margin_percentage,gross_income,rating
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1.000000e+03,1000.000000,1000.00000
mean,55.672130,5.510000,15.379369,322.966749,307.58738,4.761905e+00,15.379369,6.97270
std,26.494628,2.923431,11.708825,245.885335,234.17651,6.220360e-14,11.708825,1.71858
min,10.080000,1.000000,0.508500,10.678500,10.17000,4.761905e+00,0.508500,4.00000
25%,32.875000,3.000000,5.924875,124.422375,118.49750,4.761905e+00,5.924875,5.50000
50%,55.230000,5.000000,12.088000,253.848000,241.76000,4.761905e+00,12.088000,7.00000
75%,77.935000,8.000000,22.445250,471.350250,448.90500,4.761905e+00,22.445250,8.50000
max,99.960000,10.000000,49.650000,1042.650000,993.00000,4.761905e+00,49.650000,10.00000

In [26]:
# Helper Function
def explore_feature(feature):
    count = df[feature].value_counts()
    spent = df.groupby(feature) [['total', 'gross_income']].sum()
    print(spent.join(count))

In [86]:
for feature in ['branch', 'city', 'customer_type', 'gender', 'product_line', 'payment']:
    explore_feature(feature)
    print('*'* 40)

              total  gross_income  branch
branch
A       106200.3705     5057.1605     340
B       106197.6720     5057.0320     332
C       110568.7065     5265.1765     328
****************************************
                 total  gross_income  city
city
Mandalay   106197.6720     5057.0320   332
Naypyitaw  110568.7065     5265.1765   328
Yangon     106200.3705     5057.1605   340
****************************************
                    total  gross_income  customer_type
customer_type
Member         164223.444      7820.164            501
Normal         158743.305      7559.205            499
****************************************
             total  gross_income  gender
gender
Female  167882.925      7994.425     501
Male    155083.824      7384.944     499
****************************************
                             total  gross_income  product_line
product_line
Electronic accessories  54337.5315     2587.5015           170
Fashion accessories     54305.8950     2585.9950           178
Food and beverages      56144.8440     2673.5640           174
Health and beauty       49193.7390     2342.5590           152
Home and lifestyle      53861.9130     2564.8530           160
Sports and travel       55122.8265     2624.8965           166
****************************************
                  total  gross_income  payment
payment
Cash         112206.570      5343.170      344
Credit card  100767.072      4798.432      311
Ewallet      109993.107      5237.767      345
****************************************

> Branch "C" has more income and high rating with lower No. of purchases

> "Branch" column can be dropped and "City" column is enough ( May be renamed for clear meaning)

> "Member" Customers spent more than "Normal" customers

> "Female" Customers spent more than "Male" Customers

> "Food and beverages" and "Sports and travel" have the highest total spent

> "Cash" Payment has higher spent

In [27]:
df['date']=pd.to_datetime(df['date'])
df['year']=df.date.dt.year
df['month']=df.date.dt.month
df['day']=df.date.dt.day

In [28]:
print(df.year.value_counts())

2019    1000
Name: year, dtype: int64

In [29]:
explore_feature('month')

            total  gross_income  month
month
1      116291.868      5537.708    352
2       97219.374      4629.494    303
3      109455.507      5212.167    345

> Month "1" has the highest total spent and gross income